<footer class="mastfoot mb-auto">
  <div class="container-fluid mb-auto">
    <div class="row d-flex justify-content-center">
      <div class="">
        <p style="font-size: 19px; padding: 0px; margin: 0px;">
          2023 © 
          <a href=""style="text-decoration: none; color: rgb(0, 140, 255);">
            AboudVirus
          </a>
          . All rigths reserved
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>