
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="/images/icons/icon.png" alt="" width="50" class="rounded-circle"> &nbsp; <span>FirstHelper</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ZainCash"><i class="fa-solid fa-comments-dollar fa-lg"></i> ZainCash</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/obstruction"><i class="fa-solid fa-person-military-pointing fa-lg"></i> Obstruction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fuel-filling"><i class="fa-solid fa-gas-pump fa-lg"></i> FuelFilling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contribution"><i class="fa-solid fa-handshake-angle fa-lg"></i> Contribution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support"><i class="fa-solid fa-headset fa-lg"></i> support</a>
          </li>
        </ul>

        <div class="d-flex ml-auto" id="headerlogin">

          <% if (req.session.user) { %>

              <% if (req.session.user.isAdmin) {%>
                <li class="nav-item dropdown" style="list-style: none;">
                  <a class="nav-link btn btn-outline-secondary login" href="/dashboard/"><i class="fa-solid fa-panel-ews"></i> Panel</a>
                </li>
              <%}else{%>
            <li class="nav-item dropdown" style="list-style: none;">
              <a class="nav-link btn btn-outline-secondary login"><i class="fa-solid fa-bell"></i></a>
            </li>
            <%}%>
  
            <li class="nav-item dropdown" style="list-style: none;">
                <a class="nav-link btn btn-outline-secondary login" href="/account/me">
                  <i class="fa-solid fa-user"></i> <%= req.session.user.firstname%>
                </a>
            </li>


         <% }else{ %>
          
          <li class="nav-item" style="list-style: none;">
            <a class="nav-link btn btn-outline-secondary login" href="/account">Login</a>
          </li>

          <%}%>

        </div>
      </div>
    </div>
  </nav>
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="id01" class="modal1">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

    <div id="formlogin" class="formlogin">
      <h1 class="commandstitle">تسجيل دخول الى المساعد الأول</h1>

      <hr>

    <form action="/api/account/login" method="post">
      <label for="fname" class="titleinput"> رقم الهاتف</label>
      <input type="tel" id="phoneNamber" name="phoneNamber" placeholder="07*********">
    
      <label for="lname" class="titleinput">كلمة المرور</label>
      <input type="password" id="password" name="password" placeholder="*********">
    
      <input type="submit" value="تسجيل دخول">
    </form>
    <a class="text-darkyellow" href="#"><small>نسيت كلمة المرور</small></a>
    <p class="text-whitesmoke text-center"><small>ليس لدي حساب على المساعد الأول
    
    </small></p>
    <a class="text-darkyellow" onclick="ActiveForm('register')"><small>انشاء حساب</small></a>  
</div>

<div id="formregister" class="formregister">
  <h1 class="commandstitle">انشاء حساب على المساعد الأول</h1>
  <p class="lead commandssub">عن انشاء حساب تظهر العديد من الميزات منها اضافة منفذ زين كاش على التطبيق او ابلاغ عن منفذ مخالف حته يتم ازلة او ابلاغ عن مكان حجز مروري والمزيد من الخصائص</p>
  <hr>
  <form action="/api/account/register" method="post">
    <label for="fname" class="titleinput">الأسم الاول</label>
    <input type="firstname" id="fname" name="firstname" placeholder="...ادخل الاسم الاول">
  
    <label for="lname" class="titleinput">الاسم الاخير</label>
    <input type="lastname" id="lname" name="lastname" placeholder="...ادخل الاسم الاخير">
   
    <label for="lname" class="titleinput"> رقم الهاتف </label>
    <input type="tel" id="lname" name="lastname" placeholder="ادخل رقم الهاتف فعال على الواتساب">

    <label for="country" class="titleinput">المحافظة التي تسكنها</label>
    <select id="country" name="country" >
      <option value="australia">بغداد (GPS تم التحديد من خلال )</option>
      <option value="canada">اربيل</option>
      <option value="usa">كربلاء</option>
      <option value="usa">النجف</option>
      <option value="usa">البصرة</option>
    </select>
  
    <label for="country" class="titleinput">منطقة العمل</label>
    <select id="country" name="country" >
      <option value="australia">الكرخ / الدولعي (GPS تم التحديد من خلال )</option>
      <option value="canada">الكرخ / الحرية</option>
      <option value="usa">الكرخ / المنصور</option>
      <option value="canada">الكرخ / العامرية</option>
      <option value="usa">الكرخ / السيدية</option>
      <option value="canada">الكرخ / الدوره</option>
      <option value="usa">الرصافة / الكراده</option>
      <option value="canada">الرصافة / الأعظمية</option>
    </select>

    <input type="submit" value="انشاء حساب">
  </form>
</div>

  </div>
-->