<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/">
        <img src="/images/icons/icon.png" alt="" width="50" class="rounded-circle"> &nbsp; <span>FirstHelper</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ZainCash"><i class="fa-solid fa-comments-dollar fa-lg"></i> ZainCash</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/obstruction"><i class="fa-solid fa-person-military-pointing fa-lg"></i> Obstruction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fuel-filling"><i class="fa-solid fa-gas-pump fa-lg"></i> FuelFilling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contribution"><i class="fa-solid fa-handshake-angle fa-lg"></i> Contribution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support"><i class="fa-solid fa-headset fa-lg"></i> support</a>
          </li>
        </ul>

        <div class="d-flex ml-auto" id="headerlogin">
          
          <li class="nav-item dropdown" style="list-style: none;">
            <a class="nav-link btn btn-outline-secondary login"><i class="fa-solid fa-bell"></i></a>
          </li>

          <li class="nav-item dropdown" style="list-style: none;">
    <a class="nav-link btn btn-outline-secondary login" href="/account/me">
      <i class="fa-solid fa-user"></i> {{USER_NAME}}
            </a>
          </li>

          
        </div>
      </div>
    </div>
  </nav>